.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-light, .btn-dark, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  transition: all 0.5s;
  cursor: pointer; }

.bg-light {
  background-color: #f4f4f4; }

.bg-medium {
  background-color: #ccc; }

.bg-dark {
  background-color: #333;
  color: #f4f4f4; }

.bg-main-color {
  background-color: #ffbc00;
  color: #f4f4f4; }

.btn-light {
  color: #333;
  background: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background: #333; }

.btn-main {
  color: #333;
  background: #ffbc00; }

.btn-light {
  color: #333;
  background: #f4f4f4; }

button[class^="btn-"]:hover,
input[class^="btn-"]:hover,
a[class^="btn-"]:hover {
  background-color: #ffbc00; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

span {
  color: #ffbc00; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem; }

.bottom-line {
  height: 3px;
  width: 3rem;
  display: block;
  background-color: #ffbc00;
  margin: 0rem auto 1rem auto; }

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }

.item {
  position: relative;
  background: #ffbc00;
  overflow: hidden; }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
  .item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
  .item:hover .item-image {
    transform: scale(1.2); }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0); }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
  .item-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden; }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0; }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms; }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  .item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0; }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif;
  background: #fff;
  line-height: 1.6;
  color: #333; }

h2,
h3,
h4 {
  text-transform: uppercase; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px; }

#main-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-navbar ul {
    display: flex; }
  #main-navbar li {
    padding: 1rem 1.5rem; }
  #main-navbar a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    transition: border-color 0.5s;
    padding-bottom: 0.5rem; }
    #main-navbar a:hover {
      border-color: #ccc; }
    #main-navbar a.current {
      border-color: #ffbc00; }

.header-home {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #f4f4f4; }
  .header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    .header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

.header-inner {
  background: url("../img/showcase.jpg") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #ffbc00; }

#home-a .specials {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
  #home-a .specials div {
    padding: 2rem 0; }
  #home-a .specials i {
    color: #ffbc00;
    padding-bottom: 0.5rem; }

#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  #home-b .stats li {
    line-height: 2;
    font-weight: bold; }
    #home-b .stats li.stats-title {
      font-size: 1.5rem;
      font-weight: medium; }
    #home-b .stats li.stats-number {
      font-size: 2rem; }
  #home-b .stats div {
    padding: 3rem 0; }
    #home-b .stats div:nth-child(odd) {
      background-color: #f4f4f4; }
    #home-b .stats div:nth-child(even) {
      background-color: #ccc; }

#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center; }
  #home-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s;
    background: #ffbc00;
    color: #f4f4f4;
    border-radius: 50%; }
  #home-c .process-icon {
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #333;
    color: #f4f4f4;
    border-radius: 50%;
    padding: 2rem;
    text-align: center;
    transition: all 1s; }
    #home-c .process-icon:hover {
      background: #ffbc00;
      width: 90px;
      height: 90px;
      line-height: 90px; }
      #home-c .process-icon:hover .process-step {
        background-color: #333; }

#about-a .intro-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem; }
  #about-a .intro-container .intro {
    border-left: 6px solid #ffbc00;
    padding: 0.8rem; }

#about-a .awards {
  display: flex;
  justify-content: space-around; }
  #about-a .awards i {
    color: #ffbc00; }

#about-b .bar {
  overflow: hidden;
  height: 20px;
  background-color: #ccc;
  margin-bottom: 1rem; }

#about-b .bar-1 {
  background-color: #ffbc00;
  height: 100%;
  width: 100%; }

#about-b .bar-2 {
  background-color: #ffbc00;
  width: 80%;
  height: 100%; }

#about-b .bar-3 {
  background-color: #ffbc00;
  width: 70%;
  height: 100%; }

#about-b .bar-4 {
  background-color: #ffbc00;
  width: 100%;
  height: 100%; }

#about-b .bar-5 {
  background-color: #ffbc00;
  width: 80%;
  height: 100%; }

#about-b .bar-6 {
  background-color: #ffbc00;
  width: 70%;
  height: 100%; }

#about-c ul {
  display: flex;
  justify-content: space-around; }

#about-d .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
  #about-d .testimonials .review {
    padding: 1.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem; }
  #about-d .testimonials .photo {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #about-d .testimonials .photo img {
      border-radius: 50%;
      width: 40%; }

#contact-a form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  #contact-a form input,
  #contact-a form textarea {
    padding: 1rem 0.9rem;
    margin-bottom: 1.5rem; }
  #contact-a form textarea {
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
    height: 90%; }
  #contact-a form button[type="submit"] {
    justify-self: center;
    grid-column: 1 / span 2;
    margin-top: 5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 50%; }

#contact-b ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#contact-c p {
  font-size: 3rem; }

#home-footer {
  background: #333;
  color: #f4f4f4;
  height: 5rem; }
  #home-footer .container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    text-align: center; }
    #home-footer .container ul {
      display: flex; }
      #home-footer .container ul li {
        padding: 0.5rem; }
        #home-footer .container ul li i {
          margin-right: 1rem;
          border-radius: 50%;
          border: 2px solid white;
          height: 20px;
          width: 20px;
          line-height: 20px;
          text-align: center;
          padding: 0.5rem; }
          #home-footer .container ul li i:hover {
            background-color: #ffbc00; }
      #home-footer .container ul li a {
        color: #f4f4f4; }
